{% extends "HCocktailBundle::layout.html.twig" %}

{% block main %}

    <h1>{{ entity.name }}</h1>
  	<div class="row glace">
	  	<div class="col-md-12">
	    	{% for i in ingredient %}
				
				<div class="row">
					<div class="col-md-6 text-right">
						{% for u in 0..i.proportion %}
						    <i class="flaticon-drop" style="color: {{ i.ingredient.color }};"></i>
						{% endfor %}
					</div>
					<div class="col-md-6 text-left ingredient">
						{{ i.ingredient.name }}
					</div>
				</div>
		    
	    	{% endfor %}
	  	</div>
	</div>
	<div class="row">
	  	<div class="col-md-12">
	  		<a href="{{ path('stat_like') }}" class="btn btn-me">Pertinent</a>
	  		<a href="{{ path('stat_dislike') }}" class="btn btn-me">Non pertinent</a>
	  	</div>
  	</div>

{% endblock %}

   

