	  </div>
	  	<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/amd-banner.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/amd-footer.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/copy.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/equal.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/filter.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/mina.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/mouse.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/path.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/set.js') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/src/svg.js') }}" />
	</body>

</html>