	  </div>
		
		<script src="{{ asset('bundles/hcocktail/js/jquery-2.1.0.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('bundles/hcocktail/js/bootstrap-select.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('bundles/hcocktail/js/bootstrap.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('bundles/hcocktail/js/scripts.js') }}" type="text/javascript" ></script>
		
		<script src="{{ asset('bundles/hcocktail/js/Snap.svg-0.2.0/dist/snap.svg.js') }}" type="text/javascript" ></script>
		
	
	</body>

</html>