{% extends "HCocktailBundle::layout.html.twig" %}

{% block main %}

    <h1>{{ entity.name }}</h1>
    <p>{{ entity.comment }}</p>

    {% for i in ingredient %}
        <div class="ingredient" style="background-color: {{ i.ingredient.color }}; height: {{ i.proportion }}px;">{{ i.ingredient.name }}</p>
    {% endfor %}

{% endblock %}